@import url('https://fonts.googleapis.com/css?family=Darumadrop+One&display=swap');

body{
    /* background-color: rgb(255, 135, 44); */
    background-color: #272c48;
}

h1{
    font-family: 'Darumadrop one';
    color: rgb(244, 244, 244);
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    transform: rotate(2deg);
    padding: 10px;
    padding-top: 0px;
}

.h1-tijuana{
    background-color: rgb(75, 138, 76);
    width: fit-content;
    margin: auto;
    z-index: 3;
    position: relative;
    /* box-shadow: 10px 10px 0px black; */
}

.h1-tijuana:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* margin: auto; */
    z-index: 1;
    box-shadow: -10px -10px 0px #9b2e2e;

}

.h1-furs{
    transform: rotate(-2deg);
    background-color: rgb(42, 118, 165);
    width: fit-content;
    margin: auto;
    box-shadow: 10px 10px 0px #9b2e2e;
    z-index: 2;
}


.default-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.tjfurs-nav{
    margin-bottom: 30px;
    /* background-color: #ffa15c !important; */
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-brand{
    font-family: 'Darumadrop one';
    font-size: 3em;
    color: white;
    float: left;
    margin-top: -10px;
    margin-right: 20%;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
}

.navbar-brand:hover{
    color: #ed5a14;
}

.navbar-nav{
    color: #ed5a14;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: white;
}

.nav-link{
    color: #ed5a14;
}

.nav-link:hover{
    color: white !important;
}

.nav-link:focus{
    color: white;
}

.circle-container{
    width: 500px;
    height: 500px;
    /* position:fixed; */
    right: 10%;
    bottom: 10px;
    align-self: flex-end;
    margin-bottom: 70px;
}

.circle{
    width: 100%;
    height: 100%;
    background-color: #ed5a14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle.right{
    border-radius: 200% 200% 50% 200%;
}

.circle.left{
    border-radius: 200% 200% 200% 50%;
}

.nutria{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90%;
    height: 90%;
    border-radius: 200% 200% 200% 200%;
}

.bisteck{
    background-image: url("/img/nutrio.jpg");
}

.fer{
    background-image: url("/img/fer.jpg");
}

.first-hero{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.first-nutria{
    text-align: left;
    width: 50%;
    color: white;
}

.nutrio{
    color: #ed5a14;
    -webkit-text-stroke: 0px;
}

/* NAVBAR TOGGLE ICON */

.navbar-toggler-icon{
    filter: brightness(100);
}

.navbar-toggler{
    border-color: white;
}

/* Carousel */

.gallery{
    height: 500px;
    /* width: 900px; */
}

.carousel.slide{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151724;
    padding-top: 30px;
    padding-bottom: 30px;
}

.h1-eventos{
    font-size: 4em;
    transform: rotate(0deg);
    margin-bottom: 20px;
}

@media only screen and (max-device-width: 480px) {
    .first-hero{
        align-items: center;
        flex-direction: column;
    }
    .first-nutria{
        width: 98%;
    }

    .circle-container{
        width: 300px;
        height: 300px;
        margin: auto;
        margin-bottom: 20px;
    }

    .container-fluid{
        flex-direction: column;
    }

    .navbar-brand{
        margin-right: 0px;
    }
}